/*#region Main*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: snow;
}
/*#endregion*/

#infoPopup {
  width: 25%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid black;
  background-image: linear-gradient(to bottom right, snow, darkgrey);
  position: absolute;
  z-index: 0;
}
#infoPopup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}
#closeIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#description {
  margin: 1rem;
}

/*#region InfoIcon*/
#infoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 450px;
}
.iconBlue {
  height: 40px;
  width: 40px;
  filter: invert(41%) sepia(70%) saturate(548%) hue-rotate(153deg)
    brightness(90%) contrast(88%);
  z-index: 1;
}
.iconBorder {
  height: 36px;
  width: 36px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}
/*#endregion*/
