/*#region Main*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: snow;
}

/*#titleregion*/
#title_handelingsmenu {
  display: block;
  text-align: center;
  padding: 1em;
}

/*#behandelingen*/

.behandelingstitel {
  text-align: center;
}

.behandelingen {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  display: block;
  padding: .2em;
}


.behandeling {
  display: inline-block;
  width: 32%;
}

.behandeling_image {
  width: 100%;
  height: auto;
  padding: .5em;
  margin-left: auto;
}
 

.fa-caret-down {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 4em;
}

.aantal_behandelingen{
  display: block;
  text-align: right;
  margin-right: 20%;
}

.fa-chevron-left, .fa-chevron-right {
  font-size: 4em;
  padding-left: 1em;
  padding-right: 1em;
}

.arrows {
  display: block;
  text-align: center;
}

/*#endregion*/

#infoPopup {
  width: 25%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid black;
  background-image: linear-gradient(to bottom right, snow, darkgrey);
  position: absolute;
  z-index: 0;
}
#infoPopup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}
#closeIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#description {
  margin: 1rem;
}

/*#region InfoIcon*/
#infoIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: absolute;
  right: 450px;
}
.iconBlue {
  height: 40px;
  width: 40px;
  filter: invert(41%) sepia(70%) saturate(548%) hue-rotate(153deg)
    brightness(90%) contrast(88%);
  z-index: 1;
}
.iconBorder {
  height: 36px;
  width: 36px;
  background-color: black;
  position: absolute;
  border-radius: 50%;
}
/*#endregion*/
