/*#region Main*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secundary: 'Source code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: hsl(0, 0%, 19%);
  --clr-accent: #7cbed8;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 075em rgba(0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1rem;
  }
}

body {
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fffafa;
  overflow: hidden;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

/*#endregion*/

/*#region titleregion*/
#title_handelingsmenu {
  display: block;
  text-align: center;
  padding: 1rem;
}
/*#endregion*/

/*#behandelingen*/

.behandelingstitel {
  text-align: center;
  color: var(--clr-dark);
}

.behandelingen {
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 64%;
  display: block;
  padding: 0.2em;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
}

.behandelingen::-webkit-scrollbar {
  width: 0;
}

.simplebar-scrollbar:before {
  background-color: var(--clr-dark);
}

.behandeling {
  display: inline-block;
  width: 32%;
  padding: 0 0 2% 0;
}

.behandeling_image:hover {
  background: var(--clr-accent) !important;
}

.behandeling_image {
  width: 100%;
  height: auto;
  padding: 0.5em;
  margin-left: auto;
  z-index: -1;
  border-radius: 50%;
  background-color: #fffafa;
}

.behandeling_container {
  position: relative;
}

div p {
  margin-block-start: 0rem;
  margin-block-end: 0rem;

}

/*#region InfoIcon*/
.fa-info-circle {
  font-size: 2em;
  color: rgb(112, 166, 190);
  z-index: 1;
  position: absolute;
  display: flex;
  top: 5%;
  right: 5%;
  cursor: pointer;
  border-radius: 50%;
  background: rgb(255, 255, 255);
}

.fa-caret-down {
  font-size: 4em;
}

.downArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 50px;
}

.aantal_behandelingen {
  display: block;
  text-align: right;
  margin-right: 32%;
  padding: 0.5em;
}

#behandelingsAantal {
  color: var(--clr-dark);
  font-weight: bold;
}

.fa-chevron-left,
.fa-chevron-right {
  font-size: 4em;
  margin: 0rem 4rem 0rem 4rem;
  margin-top: 1%;
  text-decoration: none;
  color: black;
}
.fa-chevron-left {
  cursor: pointer;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*#endregion*/

#infoPopup {
  width: 25%;
  height: 80%;
  border-radius: 20px;
  border: 2px solid black;
  background-image: linear-gradient(to bottom right, snow, darkgrey);
  position: absolute;
  z-index: 2;
  margin: 5% 38%;
}

#infoPopup header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 1rem 1rem;
}

#description_behandeling {
  margin: 1rem;
}

#closeIcon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
#description_baard {
  margin: 1rem;
}

/*#endregion*/
