* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secundary: "Source code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: hsl(0, 0%, 19%);
  --clr-accent: #7cbed8;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 075em rgba(0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  width: 100vw;
  height: 80vh;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

#list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.mainTitle {
  font-family: var(--ff-primary);
  font-weight: var(--fw-reg);
  font-size: var(--fs-h1);
}

table {
  width: 75%;
  border-collapse: collapse;
  border: 1px solid black;
}

table td,
table th {
  border: 1px solid black;
  margin: 10px;
}

#logout {
  position: absolute;
  right: 2%;
  top: 2%;
  padding: 0.2rem;
}
