* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secundary: 'Source code Pro', monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #fff;
  --clr-dark: hsl(0, 0%, 19%);
  --clr-accent: #7cbed8;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 075em rgba(0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

}

@media (min-width: 800px) {
  :root {
      --fs-h1: 4.5rem;
      --fs-h2: 3.75rem;
      --fs-h3: 1.5rem;
      --fs-body: 1.125rem;
  }
}

body {
  width: 100vw;
  height: 66vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

h1 {
  margin: 3rem;
  font-size: 3.5rem;
  font-weight: var(--fw-reg);
}

label {
  font-size: 1.5rem;
}
input {
  font-size: 1.5rem;
  
}

#arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fa-chevron-left,
.fa-chevron-right {
  font-size: 4em;
  margin: 1.5rem 4rem 0rem 4rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

input, label {
  display: inline-block;
}


input {
  margin: .5rem;
}
