/*#region Main*/

@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
}

/*title*/
.title_gegevensmenu {
  padding: 3em;
  
}

/*region clickarea*/
.gender {
  text-align: center;
}

/*region arrows*/


.fa-chevron-left, .fa-chevron-right {
  font-size: 5em;
  padding: .5em 1em .5em 1em;
}





