/*#region Main*/
@import url(https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secundary: "Source code Pro", monospace;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-light: #ffffff;
  --clr-dark: #303030;
  --clr-accent: #7cbed8;
  --clr-lightgrey: #e7e7e7;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
/*#endregion*/

/*#region WeekDisplay*/
.weekDisplay {
  width: 20%;
  height: 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  font-family: "Quicksand", sans-serif;
  padding: 0 0.5rem;
  user-select: none;
  margin: 0.7rem;
}
.weekDisplay svg {
  width: 40px;
  height: 40px;
  cursor: pointer;
  fill: #12121f;
  stroke: inherit 2px;
}
.weekDisplay img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.weekDisplay h1 {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 0.2rem;
}
.weekDisplay p {
  font-size: var(--fs-h4);
}
/*#endregion*/
/*#region Calender*/
.calendar {
  width: 75%;
  height: 60%;
  box-shadow: 0 0.5rem 3rem rgba(0, 0, 0, 0.4);
  font-family: var(--ff-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 10px solid var(--clr-dark);
}
.calenderDays {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--clr-dark);
}

.calenderDays div {
  width: calc(100% / 7);
  height: 100%;
  font-size: 1.5rem;
  font-weight: 400;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  color: var(--clr-light);
  border-right: 1px solid darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}
#calenderHours {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#calenderHours div {
  width: 100%;
  height: calc(100% / 9);
  font-size: 1rem;
  width: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  transition: background-color 0.2s;
  background-color: var(--clr-lightgrey);
  opacity: 30%;
  border-left: 1px solid var(--clr-light);
}

.prev-date,
.next-date {
  opacity: 0.5;
}
/*#endregion*/

#legenda {
  width: 30%;
  height: 7%;
  margin: 1rem;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.legenda_section {
  background-color: aliceblue;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding: 7%;
  font-size: var(--fs-h4);
  font-family: var(--ff-primary);
}

#available {
  background-color: var(--clr-lightgrey);
}
#unavailable {
  background-color: var(--clr-lightgrey);
  opacity: 30%;
}

#selected_time {
  background-color: var(--clr-accent);
}

#arrows {
  display: flex;
  align-items: center;
  justify-content: center;
}
#rightArrow {
  opacity: 50%;
  cursor: default;
}
.fa-chevron-left,
.fa-chevron-right {
  font-size: 4em;
  margin: 2rem 4rem 1rem 4rem;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.today {
  background-color: #237455 !important;
}
.active {
  background-color: var(--clr-accent) !important;
}
.available:hover {
  background-color: var(--clr-accent) !important;
  cursor: pointer;
}

#calendarTitle {
  font-family: var(--ff-primary);
  color: var(--clr-dark);
  font-size: 3.5rem;
  font-weight: var(--fw-reg);
}
